body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
    /* background: deepskyblue; */
    background-image: linear-gradient(slategray, cyan, deepskyblue);
}

a {
    text-decoration: none;
    color: darkblue;
}

* {
    box-sizing: border-box;
}