body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
    background: steelblue;
    /* background-image: linear-gradient(dodgerblue, cyan, steelblue); */
}

a {
    text-decoration: none;
    color: black;
}