body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
    background: lightblue;
    /* background-image: linear-gradient(slategray, cyan, steelblue); */
}

a {
    text-decoration: none;
    color: darkblue;
}

* {
    box-sizing: border-box;
}